<!-- <div class="mask d-flex align-items-center h-500 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Kayıt Ol</h2>

                        <form>

                            <div class="mb-3">
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example1cg">Adınız</label>
                            </div>

                            <div class="mb-3">
                                <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example3cg">Email</label>

                            </div>

                            <div class="mb-3">
                                <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example4cg">Şifre</label>
                            </div>


                            <div class="form-check d-flex justify-content-center mb-5">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                <label class="form-check-label" for="form2Example3g">
                                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                                </label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="button"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                                    class="fw-bold text-body"><u>Login here</u></a></p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<form [formGroup]="loginForm" (ngSubmit)="login()">

    <div>
      <label for="username">username</label>
  
      <input
        type="text"
        name="username"
        id="username"
        [formControl]="username">
  
      <div [hidden]="username.valid || username.untouched">
        <div>
          The following problems have been found with the username:
        </div>
  
        <div [hidden]="!username.hasError('minlength')">
          Username can not be shorter than 5 characters.
        </div>
        <div [hidden]="!username.hasError('required')">
          Username is required.
        </div>
      </div>
    </div>
    <div >
      <label for="password">password</label>
      <input
        type="password"
        name="password"
        id="password" [formControl]="password">
  
      <div [hidden]="password.valid || password.untouched">
        <div>
          The following problems have been found with the password:
        </div>
  
        <div [hidden]="!password.hasError('required')">
          The password is required.
        </div>
      </div>
    </div>
  
    <button type="submit" [disabled]="!loginForm.valid">Log In</button>
  </form>